* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 233, 220);
    font-family: Arial, Helvetica, sans-serif;

  }
  
h1 
{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
  
label 
{
    display: block;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input 
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
  
input[type="submit"]:hover
{
    padding: 10px 20px;
    background-color: rgb(184, 8, 8);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    
}
.button-group{
    display: flex;
    justify-content: flex-end;

}

.submit:hover{
    background-color: rgb(184,8,8);
    filter: brightness(1.1);

}


.input img
{
    height: 1px;
    cursor: pointer;
    vertical-align: middle;
}
@media (max-width: 768px) {
    .formulaire {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    label {
        font-size: 1rem;
    }

    input {
        padding: 5px;
    }

    input[type="submit"] {
        padding: 10px 10px;
    }
}
#search-form {
    margin-bottom: 20px;
    text-align: center;
    
  }
  
  #search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-collapse: collapse;
  }
  
  #search-results {
    width: 100%;
    border-collapse: collapse;
  }
  
  #search-results th,
  #search-results td {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    border-collapse: collapse;
  }
  
  #search-results th {
    background-color: #ccc;
    border-collapse: collapse;
  }